<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appointment.databinding20210910">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name="com.appointment.databinding20210910.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/appointment_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appointment_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataBinding20210910"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.appointment.databinding20210910.ModifyAppointmentActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.EditPasswordActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.ViewNotificationActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.ViewAppointmentDetailActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.AddFriendActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.ViewMyFriendsListActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.EditMyPlaceActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.ViewMyPlaceListActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.MySettinsgActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.ViewMapActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appointment.databinding20210910.EditAppoinmentActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.SignUpActivity"
            android:exported="true" />
        <activity
            android:name="com.appointment.databinding20210910.LoginActivity"
            android:exported="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="13f6ae1232b5e4892d442bad3ebbd8ec" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="vw124jgfss" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao13f6ae1232b5e4892d442bad3ebbd8ec" />
            </intent-filter>
        </activity>

        <service
            android:name="com.appointment.databinding20210910.services.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.appointment.databinding20210910.receivers.AlarmReceiver"
            android:exported="false" />
    </application>

</manifest>